APP_NAME=MLUCSentinel
APP_ENV=production
APP_KEY=base64:jfCJSCalfyH+dGU3/g/uO9S7qROFt4dmN2REPR5KhbQ=
APP_DEBUG=false
APP_URL=https://your-app.sevalla.app

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1          # Sevalla will provide
DB_PORT=3306
DB_DATABASE=mluc_sentinel  # Sevalla will provide
DB_USERNAME=root           # Sevalla will provide
DB_PASSWORD=               # Sevalla will provide

BROADCAST_CONNECTION=reverb
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mlucsentinel@gmail.com
MAIL_PASSWORD=fklkmfoettidswha
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mlucsentinel@gmail.com
MAIL_FROM_NAME="MLUC Sentinel"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=338257
REVERB_APP_KEY=xjybg4ttpkkoazcqudlb
REVERB_APP_SECRET=wz3y3d82d2g8s9ygz74z
REVERB_HOST=0.0.0.0
REVERB_PORT=8080
REVERB_SCHEME=https

VITE_REVERB_APP_KEY=xjybg4ttpkkoazcqudlb
VITE_REVERB_HOST=your-app.sevalla.app
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=https